body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

h2 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

a {
    color: aquamarine;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

video {
    display: block;
    margin: 0 auto;
    background-color: #fff;
}